<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Portal Document</h1>
        <div class="col-6 offset-3">
            <form action="/portalDocuments/<%=portalDocument._id%>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="portalDocument[title]"
                        value="<%=portalDocument.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="author">Author</label>
                    <input class="form-control" type="text" id="author" name="portalDocument[author]"
                        value="<%=portalDocument.author %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="portalDocument[imageLink]"
                        value="<%=portalDocument.imageLink %>">
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Portal Document</button>
                </div>
            </form>
            <a href="/portalDocuments/<%= portalDocument._id%>">Back To Portal Documents</a>

        </div>
    </div>