<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= portalDocument.imageLink%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= portalDocument.title%>
                    </h5>

                </div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item text-muted">
                        <small class="text-muted">by:</small>
                        <%= portalDocument.author%>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/portalDocuments/<%=portalDocument._id%>/edit">Edit</a>
                    <form class="d-inline" action="/portalDocuments/<%=portalDocument._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    3 days ago
                </div>
            </div>
        </div>
    </div>